:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    align-content: center;
    width: 100%;
    min-width: 200px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 200px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
  .example-full-width {
    width: 450px;
  }
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  /* .cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 1002 !important;
    } */