<section class="parent padding-top">
  <mat-card fxFlex="500px" fxFlex.xs="100%" style="align-content: center;">
    <mat-card-title style="background-color: skyblue; ">Complaints Details
    </mat-card-title>
    <div *ngIf="!loader" style="
    display: inline-block;
    margin-top: 15px;"><i>(Please add new complaints with comma separation.)</i></div>
    <div style="display: inline-block; float: right;" *ngIf="!loader">
      <button mat-raised-button style="background-color: green;
      color: white;
      font-size: 12px;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 5px;" (click)="save()" *ngIf="!textareaComplaints.disabled && !showError">
        <mat-icon>save_alt</mat-icon>
        Save Changes
      </button>
      <button mat-raised-button color="primary" style="font-size: 12px;
      vertical-align: middle;
      margin-right: 5px;
      margin-bottom: 5px;" (click)="click()">
        <mat-icon>edit</mat-icon>
        {{ textareaComplaints.disabled ? 'Edit Complaints List' : 'No Need to Edit?' }}
      </button>
    </div>
    <div style="align-content: center;" [hidden]="loader">
      <form class="example-container" #options="ngForm">
        <textarea matInput name="complaints" [formControl]="textareaComplaints" style="min-width: 1000px; border: groove;
        min-height: 300px;" cols="35" rows="8" placeholder="Added Complaints"></textarea>
        <mat-error *ngIf="showError">Complaints list can not be empty</mat-error>
      </form>
    </div>
    <mat-spinner style="margin:0 auto;" *ngIf="loader"></mat-spinner>
  </mat-card>
</section>