<section class="parent padding-top">
  <mat-card fxFlex="500px" fxFlex.xs="100%" style="align-content: center;">
    <mat-card-title style="background-color: skyblue; ">Add New Drug</mat-card-title>
    <div style="align-content: center;">

      <form [formGroup]="drugForm" *ngIf="!loader" autocomplete="off" novalidate (ngSubmit)="onSubmit(drugForm.value)"
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Drug Content</mat-label>
            <input class="input" matInput type="text" placeholder="Drug Content" formControlName="content"
              id="firstName">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('content', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Brand Name</mat-label>
            <input class="input" required matInput type="text" placeholder="Brand Name" formControlName="brandName"
              id="brandName">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('brandName', 'required')">Brand Name is required</mat-error>
            <mat-error *ngIf="hasError('brandName', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>Strength</mat-label>
            <input class="input" matInput type="text" placeholder="Strength" formControlName="strength" id="strength">
            <mat-hint align="end">Not more then 60 characters long.</mat-hint>
            <mat-error *ngIf="hasError('strength', 'required')">Strength is required</mat-error>
            <mat-error *ngIf="hasError('strength', 'maxlength')">You have more than 60 characters</mat-error>
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-select [(value)]="drug.formOfDrugs" [placeholder]="formDropDown" formControlName="formOfDrugs">
              <mat-option *ngFor="let form of drugsForms" [value]="form">{{form}}</mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('formOfDrugs', 'required')">Form of Drug is required</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="center">
          <a download href="assets/templates/add_new_drug.xlsx">Download Template</a>
          <button mat-raised-button color="primary" [disabled]="!drugForm.valid">Create</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
          <input type="file" class="form-control" (change)="uploadedFile($event)" placeholder="Upload file"
            accept=".xlsx">
        </mat-card-actions>
      </form>
      <mat-spinner *ngIf="loader"></mat-spinner>
    </div>
  </mat-card>
</section>