<div style="width: 300px;">
    <mat-card style="height: 250px">
        <mat-card-title style="margin-bottom: 0px;color: #3f51b5;">Login</mat-card-title>
        <mat-card-content style="margin-bottom: 0px;">
            <form>
                <table class="example-full-width" cellspacing="0">
                    <tr style="width: 280px;">
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr style="width: 280px;">
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Password" matInput [(ngModel)]="password" name="password"
                                    required [type]="hide ? 'password' : 'text'">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
            <!-- <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner> -->
        </mat-card-content>
        <mat-card-actions style="display: inline-block;  margin-bottom: 0px">
            <div class="button-container">
                <div class="spinner-container" *ngIf="showSpinner">
                    <mat-spinner diameter="24"></mat-spinner>
                </div>
                <button mat-raised-button [disabled]="showSpinner" (click)="checkLogin()" color="primary">Login</button>
            </div>
        </mat-card-actions>
        <!-- <button mat-raised-button [disabled]="showSpinner"
            style="display: inline-block;background-color: rgb(240, 127, 46); color: white;margin: 10px;"
            (click)="redirectToRegisterationForm()">Register</button> -->
    </mat-card>
</div>