<section class="parent padding-top main-div">
  <mat-card fxFlex="500px" fxFlex.xs="100%" style="align-content: center;width: 973.576px; " class="margin-bottom">
    <mat-card-title style="background-color: skyblue; text-align: center;">View Prescription</mat-card-title>
    <div>
      <div class="container-to-left">
        <button mat-raised-button color="primary" style="margin: 10px;" [disabled]="!currentPatient.id" (click)="goToPatient()"><mat-icon>edit</mat-icon> Edit Patient Data</button>
      </div>
    <div class="container-to-right">
      <button mat-raised-button class="orange-button" [disabled]="!visit.id" (click)="goToEdit()"><mat-icon>edit</mat-icon> Edit Prescription</button>
      <button mat-raised-button class="green-button" [disabled]="!visit.id" (click)="SavePDF()"><mat-icon>picture_as_pdf</mat-icon> Export</button>
    </div>
  </div>
    <mat-spinner style="margin:0 auto;" *ngIf="loader"></mat-spinner>
    <div id="htmlData" *ngIf="showTable" style="padding: 62px; margin: 62px; padding-right: 20px; margin-right: 20px; margin-top: 48px"
      fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div style="padding-top: 20px; padding-left: 30px;">
        <table class="center">
          <tr>
            <!-- Name Column -->
            <th class="table-header"
              style="width: 60%;font-size: 18px; padding-left: 50px; padding-top: 9px;padding-bottom: 9px;">
              {{currentPatient.firstName }} {{currentPatient.middleName}} {{
              currentPatient.lastName}} </th>
            <!-- gender Column -->
            <th class="table-header" style="font-size: 18px; text-align: end; padding-top: 9px;padding-bottom: 9px;">
              {{visit.patient.gender}}
            </th>
            <table>
              <tr style="font-size: 18px; font-weight: 500; text-align: end; white-space: pre; "> {{visitdate}}
                &nbsp; &nbsp; &nbsp; </tr>
              <tr style="font-size: 16px;font-weight: 500; text-align: end;"> {{visit.patient.age}} &nbsp;&nbsp;
                &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; </tr>

            </table>
          </tr>
        </table>
      </div>
      <div style="padding-left: 60px;">
        <table class="center">

          <!-- history Column -->
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> K/C/O </th>
            <td class="padding-top-5"> {{visit.patient.history}} </td>
          </tr>
          <tr>
            <!-- Drug Allergies Column -->
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Drug Allergies </th>
            <td class="padding-top-5"> {{visit.patient.drugAllergies}} </td>
          </tr>
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Other Allergies </th>
            <td class="padding-top-5"> {{visit.patient.otherAllergies}} </td>
          </tr>
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Complaints </th>
            <td class="padding-top-5"> {{visit.complaints.toString()}}</td>
          </tr>
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Vitals </th>
            <td style="padding-top: 5px !important;" class="padding-top-5">
              <table style="width:100%; border: 0.5px dotted black;
            border-collapse: collapse;font-size: 12px;" class="th-td center">
                <tr>
                  <th class="th-td"> Temp (°F) </th>
                  <th class="th-td"> Pulse (bpm)</th>
                  <th class="th-td"> SpO2 (%)</th>
                  <th class="th-td"> Brpm </th>
                  <th class="th-td"> BP (mmHg)</th>
                  <th class="th-td"> Ht (cms)</th>
                  <th class="th-td"> Wt (kg)</th>
                  <th class="th-td"> BMI (kg/m<sup>2</sup>)</th>
                </tr>
                <tr class="th-td">
                  <td class="th-td" style="font-weight: 400;">{{visit.temperature}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.pulse}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.spo2}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.respirationRate}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.bloodPressure}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.height}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.weight}}</td>
                  <td class="th-td" style="font-weight: 400;">{{visit.bmi}} <span *ngIf="visit.bmi" style="font-size: 8px;">{{getBmiValue()}}</span></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Examination </th>
            <td class="padding-top-5"> {{visit.observations.toString()}}</td>
          </tr>
          <tr>
            <th style="padding-left: 20px;padding-right: 10px;" class="table-header padding-top-5"> Preliminary Diagnosis </th>
            <td class="padding-top-5"> {{visit.diagnosis.toString()}}</td>
          </tr>
        </table>
      </div>
      <div style="padding-left: 80px;">
        <p style="color: black; font-family: cursive; font-weight: 400;padding-bottom: 3px;
          padding-top: 2px;">&nbsp; <i>Rx</i></p>
        <table style="width:100%; border: 0.1px dotted #c5c1c1;
          border-collapse: collapse;" class="th-td center">
          <tr>
            <th class="th-td" style="width: 55%;font-size: 12px;"> Drug </th>
            <th class="th-td" style="width: 15%;font-size: 12px;"> Dose Freq. </th>
            <th class="th-td" style="width: 15%;font-size: 12px;"> Instructions </th>
            <th class="th-td" style="width: 15%;font-size: 12px;"> Course </th>
          </tr>
          <tr *ngFor="let drug of prescription" class="th-td">
            <td class="th-td" style="font-weight: 400 !important;"> {{drug['drug'].toString()}}</td>
            <td class="th-td" style="font-weight: 400 !important;font-size: 12px;"> {{drug['dose'].toString()}}</td>
            <td class="th-td" style="font-weight: 400 !important;font-size: 12px;"> {{drug['duration'].toString()}}</td>
            <td class="th-td" style="font-weight: 400 !important;font-size: 12px;"> {{drug['instructions'].toString()}}</td>
          </tr>
        </table>
      </div>
      <div style="padding-left: 80px;">
        <tr *ngIf="visit.pathology">
          <th class="table-header padding-top-5">Recommended Tests</th>
          <td class="padding-top-5"> :- {{visit.pathology}} </td>
        </tr>
        <tr *ngIf="visit.radiology">
          <th class="table-header padding-top-5">Recommended Scans</th>
          <td class="padding-top-5"> :- {{visit.radiology}} </td>
        </tr>
        <tr *ngIf="visit.nextFollowUp">
          <th class="table-header padding-top-5">Next Followup</th>
          <td class="padding-top-5"> :- {{datepipe.transform(visit.nextFollowUp, 'dd MMM yyyy')}} </td>
        </tr>
      </div>
    </div>
  </mat-card>
</section>