.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-to-right {
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 453px;
  
}
.container-to-left {
  margin-bottom: 20px;
  display: inline-block;
}
table {
  width: 100%;
}

.m-t-xl {
  margin-top: 40px;
}
.table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

.th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}
.mat-row:hover {
  background-color: #ec971f;
}
mat-form-field.mat-form-field-should-float label {
  font-weight: bolder !important;
}
.custom {  
  width: 19cm;
  height: 25cm; 
}
.th-td {
  border: 0.1px dotted black;
  border-collapse: collapse;
  padding: 5px;
  text-align: left;  
  font-weight: 550 !important;
  word-wrap: break-word;  
}
.table-header {
  font-weight: 550 !important;  
}
table.center {
  margin-left: auto;
  margin-right: auto;
}
.padding-top-5 {
  padding-top: 5px !important;
}
.margin-bottom {
  margin-bottom: 40px;
}