
 .chip-list {
    width: 100%;
  }
.autocomplete {
  overflow-y: scroll;
  height: 150px !important;;
}
mat-option.mat-option{
  position: relative;
  height: 24px!important;
  line-height: 24px!important;
  max-height: 24px!important;
}
:host ::ng-deep .padding-only-top div.mat-input-wrapper.mat-form-field-wrapper{
  padding-bottom: 0px;
  padding-top: 20px;
}