<section class="parent padding-top">
  <mat-card fxFlex="500px" fxFlex.xs="100%" style="align-content: center;">
    <mat-card-title style="background-color: skyblue; ">Patient Information</mat-card-title>
    <div style="align-content: center;" *ngIf="!loader">

      <form [formGroup]="patientForm" *ngIf="patientForm" autocomplete="off" novalidate (ngSubmit)="editPatient()"
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
          <mat-form-field appearance="outline" disabled>
            <mat-label>First Name</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's First Name" formControlName="firstName"
              id="firstName">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's Middle Name" formControlName="middleName"
              id="middleName">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's Last Name" formControlName="lastName"
              id="lastName">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-radio-group formControlName="gender">
            <mat-radio-button value="Female" #female name="female" required>Female</mat-radio-button>
            &nbsp;&nbsp;
            <mat-radio-button value="Male" #male name="male" required>Male</mat-radio-button>
          </mat-radio-group>
        </mat-card-content>

        <mat-card-content>
          <mat-form-field style="width:130px !important;" appearance="outline">
            <mat-label>Age</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's Age" formControlName="age"
              id="age">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field style="width:130px !important;" appearance="outline">
            <mat-label>Telephone</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's Telephone" formControlName="telephone"
              id="telephone">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's address" formControlName="address">
          </mat-form-field>
          &nbsp;&nbsp;&nbsp;

          <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input class="input" matInput type="text" placeholder="Patient's City" formControlName="city">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100% !important;">
            <mat-label>Drug Allergies</mat-label>
            <input class="input" style="height: 50px !important;" matInput type="text" placeholder="Dug Allergies"
              formControlName="drugAllergies">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100% !important;">
            <mat-label>Other Allergies</mat-label>
            <input class="input" style="height: 50px !important;" matInput type="text" placeholder="Other Allergies"
              formControlName="otherAllergies">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100% !important;">
            <mat-label>Known Case</mat-label>
            <input class="input" style="height: 50px !important;" matInput type="text" placeholder="Known Case"
              formControlName="history">
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions align="center">
          <button mat-raised-button color="primary">Edit</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Back</button>
          <button mat-raised-button style="background-color: forestgreen; color: white;" (click)="redirectToAddVisit()">Add Visit</button>
          <button mat-raised-button style="background-color: rgb(240, 127, 46); color: white;" (click)="redirectToViewAllVisits()">View Previous Visits</button>
        </mat-card-actions>
      </form>
    </div>
    <mat-spinner style="margin:0 auto;" *ngIf="loader"></mat-spinner>
  </mat-card>
</section>